# Database Configuration
DB_HOST=db
DB_USER=police_user
DB_PASSWORD=police_pass
DB_NAME=police_warrant_db
DB_PORT=3306

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# AI Configuration
FACE_MATCH_THRESHOLD=0.40
