__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
venv/
instance/
.coverage
htmlcov/
dist/
build/
*.sqlite3

# Binaries & Executables
*.exe
cloudflared.exe
scratch/
*.log

# Temporary & Upload Dirs
temp/
uploads/

# PDPA Sensitive Data Protection (DO NOT PUSH SENSITIVE DATA TO GITHUB)
datatest/
*.jpg
*.jpeg
*.png
